	<section id="containerPpal">
	<img style="width: 100%;margin-top: 15px;border: 1px solid #ccc;" src="../images/publicidad.png">
	<img style="width: 100%;margin-top: 35px;" src="images/indexfranja0.png">
        <div class="container">
		<!-- panel de usuario -->
			<div class="row">
				<div ng-controller="UserController" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px">
					<div class="pull-right single-profile-top" style="margin: 0;" ng-hide="user.nombre">
							<a class="btn btn-default pull-right" href="/signin"><i class="fa fa-lock"></i> Identificarse</a>
							<a class="btn btn-default pull-right" href="/signup"><i class="fa fa-user-plus"></i> Crear Cuenta</a>
					</div>
					<!--Saludo al usuario autentificado-->
					<div class="pull-right single-profile-top" style="margin: 0;" ng-show="user.nombre">
						<p style="margin: 0px"><i class="fa fa-user-circle"></i> {{user.nombre}} {{user.apellido}}
						<a class="btn btn-default pull-right" href="/signout" alt="cerrar sesion" style="margin-left: 30px;padding: 0px 6px;"><i class="fa fa-sign-out"></i> Cerrar Sesión</a></p>
						<p style="margin: 0px"><i class="fa fa-cogs"></i> {{user.tipoUsuario}}</p>
					</div>
				</div>
			</div>

			<div class="row">
				<a class="pull-right btn btn-default" href="#!/settings"><span class="fa fa-cogs"></span></a>
				<div class="col-xs-12 center">
					<h2 class="lead">Traductor </h2>
				</div>
				<!-- El elemento mensaje error -->
				<div class="col-xs-12">
					<div data-ng-show="error" class="alert alert-danger fade in alert-dismissable text-center">
					    <strong data-ng-bind="error"></strong>
					</div>
				</div>
				<!-- El elemento mensaje error -->
				<div class="col-xs-12">
					<div data-ng-show="warning" class="alert alert-warning fade in alert-dismissable text-center">
					    <strong data-ng-bind="warning"></strong><i class="fa fa-times pull-right" ng-click="closeWarning()"></i>
					</div>
				</div>
				<div class="col-lg-5 col-sm-5 col-xs-12">
					<label class="lead">Ingrese el modismo</label>
			        <input type="text" class="form-control" data-ng-model="modismoModismo" placeholder="Ingrese un Modismo">
				</div>
				<div class="col-lg-2 col-sm-2 col-xs-12 center" ng-hide="warning">
					<button class="form-control btn btn-primary center" ng-click="translate()" style="width: 100px;height: 100px;border-radius: 50%;"><i class="fa fa-search center"style="height: 20px"></i></br>Traducir</button>
				</div>
				<div class="col-lg-5 col-sm-5 col-xs-12" ng-hide="warning">
					<div class="form-group" id="div_significado">
						<label class="lead">Traducción</label>
						<img id="img_significado" style="height: 100px;margin: 10px" class="center" src='' hidden>
			            <textarea ng-model="significado.traduccion" class="form-control" rows="6"></textarea>
			        </div>
			    </div>
				<div class="col-lg-5 col-sm-5 col-xs-12" ng-show="warning">
					<div class="form-group">
						<label class="lead">Sugerir Traducción</label>
						<img style="height: 100px;margin: 10px" class="center" src='{{significado.traduccion}}' hidden>
			            <textarea ng-model="traduccion" class="form-control" rows="6"></textarea>
			        </div>
					<button class="form-control btn btn-primary" ng-click="addDiccionario()"><i class="fa fa-plus"></i> Enviar Traducción</button>
			    </div>
            </div><!--/.row-->
		</div><!--/.container-->
    </section><!--/#contact-page-->
