
	<section  id="containerPpal">
	<img style="width: 100%;margin-top: 35px;" src="images/franja1.png">
		<div class="container" style="padding: 10px 0px 80px 0px" >
			<div class="row contact-wrap">
				<!-- El elemento mensaje error -->
				<div data-ng-show="error" class="alert alert-danger fade in alert-dismissable text-center">
				    <strong data-ng-bind="error"></strong>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<div class="center">
						<h2 class="lead">Configuración</h2>
					</div>
					<form ng-submit="setup()">
						<div class="form-group">
							<label class="lead">Yo vengo de:</label>
							<select class="form-control" ng-model="idioma" ng-options="i as i.nombre for i in idiomas">
							      <option value="">Seleccione...</option>
							</select>
						</div>
						<div class="form-group">
							<label class="lead">Modismos de:</label>
							<select class="form-control" ng-model="pais" ng-options="p as p.nombre for p in paises">
							      <option value="">Seleccione...</option>
							</select>
						</div>
						<div class="form-group center">
	                        <button type="submit" name="submit" class="btn btn-primary" required="required"><span class="fa fa-save"></span> Guardar Cambios </button>
	                        <a class="btn btn-default" style="margin-top: 7px;"><span class="fa fa-times"></span> Cancelar </a>
						</div>
					</form>
				</div><!--/.row-->
			</div>
		</div><!--/.container-->
	<img style="width: 100%;margin-top: 35px;" src="images/franja2.png">
    </section><!--/#contact-page-->
